<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About me</title>
</head>
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-secondary fw-bolder mb-0">Experience</h2>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2024</div>
                                    <div class="small fw-bolder">IT & Automation engineer (CO-OP)</div>
                                    <div class="small text-muted">Rock Solid Supply</div>
                                    <div class="small text-muted">Barrie, ON</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><p>Developed and optimized automation scripts for retrieving and updating databases using Python</p>
	                            <p>Implemented data flow between external APIs and internal SQL Server, improving data accuracy</p>
	                            <p>Created solutions for automatic communication and alerts between departments in the company using Slack and MS Teams</p>
                                </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2023-2024</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Georgian College</div>
                                        <div class="small text-muted">Barrie, ON</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">CO-OP Diploma</div>
                                        <div class="small text-muted">Computer programming</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">2 year Computer programming, focused on variety of languages and tools: Python, Java, Javascript, HTML & CSS</div>
                        </div>
                    </div>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2022-2023</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Yandex Practicum</div>
                                        <div class="small text-muted">Online</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">Diploma</div>
                                        <div class="small text-muted">Data Science</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">Created tools to analyze data for businesses and present results in clean and simple way</div>
                        </div>
                    </div>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2018-2022</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Bauman University</div>
                                        <div class="small text-muted">Moscow, Russia</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">Bachelor</div>
                                        <div class="small text-muted">Mechanical Engineering</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">Major: Internal Combustion Engines. Created and calculated Combustion chambers using modern 3D tools</div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="pb-5"></div>
            <section>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-secondary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages & libraries</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML & CSS</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C#</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>