<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main page</title>
</head>
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/images/main.jpg" alt="My photo"></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h1 class="display-4">Alex Feldman</h1>
                    <p>Junior Python developer interested in Data Science and business processes automation</p>
                </div>
            </div>
        </div>
    </div>
</section>