<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h1 class="mb-0">Portfolio</h1>
            <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row gx-0 mx-0">
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/feldmansasha/Data_Science">
                    <div class="caption">
                        <div class="caption-content">
                            <h2>Data Science</h2>
                            <p class="mb-0">Collection of Python DS projects, using Pandas and other libraries</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/images/ds.png" alt="Picture with Data science text on it">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/feldmansasha/CSS_FinalProject">
                    <div class="caption">
                        <div class="caption-content">
                            <h2>CSS Project</h2>
                            <p class="mb-0">Website of a local car dealership</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/images/dealer.jpeg" alt="Picture of dealership" />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/feldmansasha/PHP_Final_Project">
                    <div class="caption">
                        <div class="caption-content">
                            <h2>PHP project</h2>
                            <p class="mb-0">Online website to sell pictures with CRUD functionality</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/images/gallery.webp" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/feldmansasha/Python_Final_Project">
                    <div class="caption">
                        <div class="caption-content">
                            <h2>Python Project</h2>
                            <p class="mb-0">Group project that focused on analyzing most popular spotify tracks</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/images/download.jpeg" alt="Spotify chart" />
                </a>
            </div>
        </div>
    </div>
</section>